.case-study {
  background-position: center;
  background:#518E9A;
  position: relative;
  @include breakpoint($md) {
    background:#94a3a8;
    padding: 17.1rem 0;
  }
  
  img {
    display: none;
    @include breakpoint($md) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .case-study-container {
    max-width: 50rem;
    color: #fff;
    h2 {
      font-size: 5.5rem;
      font-weight: 100;
      margin-bottom: 1rem;
      position: relative;
      z-index: 9;
    }
    p {
      margin-bottom: 2rem;
      position: relative;
      z-index: 9;
    }
    a {
      position: relative;
      z-index: 9;
    }
  }
}

.case-study-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 8rem;
  align-items: flex-start;
  height: 100vh;
  @include breakpoint($md) {
    height: auto;
    padding-bottom: 0;
  }
}
