.case-study {
  background-position: center;
  background: #518e9a;
  @include breakpoint($md) {
    background: url(../../img/case.png) no-repeat;
    padding: 20rem 0;
  }

  .case-study-container {
    max-width: 50rem;
    color: #fff;
    h2 {
      font-size: 5.5rem;
      font-weight: 100;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.case-study-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 8rem;
  align-items: flex-start;
  height: 100vh;
  @include breakpoint($md) {
    height: auto;
    padding-bottom: 0;
  }
}
