.line-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  @include breakpoint($md) {
    text-align: left;
    font-size: 1.8rem;
  }
}
h2.line-heading {
  max-width: 1030px;
  margin-bottom: 3rem;
  font-family: $sf;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  @include breakpoint($md) {
    text-align: left;
    font-size: 5.5rem;
  }
  span {
    color: #ffae42;
  }
}
h2.line-heading.edu {
  span {
    color: #ac5598;
  }
}
.profile-summary {
  padding-bottom: 10rem;
  @include breakpoint($md) {
    padding-bottom: 12rem;
  }
  .summary {
    display: flex;
    flex-flow: column;
    @include breakpoint($md) {
      flex-flow: row;
    }
    address {
      font-size: 1.2rem;
      color: #4f4f4f;
      text-align: center;
      @include breakpoint($md) {
        width: 50%;
        padding-right: 4rem;
        text-align: left;
      }
    }
    .bio {
      padding-top: 2.5rem;
      max-width: 46rem;
      text-align: center;
      @include breakpoint($md) {
        width: 50%;
        text-align: left;
      }
      .btn {
        margin-top: 3rem;
      }
    }
  }
}
